@tailwind base;
@tailwind components;
@tailwind utilities;


.layout {
  @apply max-w-7xl mx-auto px-4;
}

.banner{
  background-image: url('/assets/banner.jpeg');
  background-size: cover;
  background-position: center;
}